<div class="container">
  <h2 #title>Escolha uma das cores</h2>

  <color-sample
    [color]="primary"
    #primaryColorSample
    (click)="openColorPicker()"
  >
  </color-sample>

  <mat-form-field>
    <mat-label>Cor Primária</mat-label>
    <input
      matInput
      #primaryInput
      [(colorPicker)]="primary"
      [(ngModel)]="primary"
    />
  </mat-form-field>
</div>

<div class="template-ref">
  <ng-template>
    <h1>Usando ng-template</h1>
  </ng-template>
  <button mat-raised-button (click)="show()">Show</button>
  <button mat-raised-button (click)="hide()">Hide</button>
</div>
